<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @update.title %>
</p>

<p>
  <b>Body:</b>
  <%= @update.body %>
</p>

<p>
  <b>Goal:</b>
  <%= @update.goal_id %>
</p>

<p>
  <b>User:</b>
  <%= @update.user_id %>
</p>


<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
