<div class="row" style="margin-top:25px;">
	<div class="small-12 columns">
		<p>Go after it! <%= link_to "Susan Boyle chases her dream and rises above the odds", "http://www.youtube.com/watch?v=jca_p_3FcWA", :target => "_blank" %></p>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h1>Your Goals <small>Now let's do this!</small></h1>
	</div>
</div>

<div class="row">
  <div class="small-8 columns">
    <% if  @goals.active.empty? %>
      <p>No active goals in here :( &nbsp; <%= link_to "You should create a goal :)", new_goal_path %></p>
     <% else %>
  		<% @goals.active.each do |goal| %>
  		<div class="update-block">
  			<div class="counter-block">
  				<span class="days-in">
  					<%= (Date.today.to_date - goal.created_at.to_date).to_i %> Days In
  				</span>
  				<span class="days-left">
  					<%= (goal.get_expires_date.to_date -  Date.today.to_date).to_i %> Days Left
  				</span>
  			</div>
  			<h3><%= link_to "#{goal.name}", goal %></h3>
  			<p>
  				<%= goal.description %>
  			<br />
  				<% if goal.complete %>
  					<span class="round secondary label">Complete</span>
  				<% else %>
  					<span class="round success label">Active</span>
  				<% end %>
  				&nbsp;<span class="lighter-text"><%= goal.updates.size %> Updates</span>
  			</p>
      <% end %>

		</div>

		<% end %>

          <h3>Past Goals...</h3>
      <% @goals.not_active.each do |goal| %>
        <p><%= link_to("#{goal.name}", goal_path(goal)) %></p>
      <% end %>

	</div>
  <div class="small-4 columns">
		<%= link_to '+ New Goal', new_goal_path %>
	</div>
</div>





