<p id="notice"><%= notice %></p>

<div class="row" style="margin-top:25px;">
  <div class="small-8 columns">
		<div class="goal-block">
			<div class="goal-header">
							<% if @goal.complete %>
								<span class="round secondary label right ">Complete</span>
							<% else %>
								<span class="round success label right">Active</span>
							<% end %>
				<h2><strong><%= @goal.name %></strong></h2>
			</div>
			<h5>Yo Self! Add an update!</h5>
			<%= form_for([@goal, Update.new]) do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %> 
			<%= f.hidden_field :goal_id, :value => @goal.id %> 
			
			<div class="row">
		    <div class="large-12 columns">
		 			<%= f.text_field :title, :placeholder => "Title" %>
		    </div>
		  </div>
			
			<div class="row">
		    <div class="large-12 columns">
		 			<%= f.text_area :body, :placeholder => "So what do you have to say...", :class => "goal-text-area-height" %>
		    </div>
		  </div>
			    <%= f.submit "Yeeeah, Submit It!", :class => "button round" %>
			<% end %>
		</div>
			<h4>Your Progress...</h4>
			<% @goal.updates.order("created_at DESC").each do |update| %>
			<div class="update-block">
			<p>
				<strong><%= update.title %></strong><br />
				<%= update.body %><br />
				<span class="lighter-text"><%= time_ago_in_words(update.created_at) %> ago</span>
			</p>
			</div>
			
			<% end %>
		
		
	</div>
	<div class="small-4 columns">
		
		<div class="sidebar">
		<p>
				<%= link_to 'Edit', edit_goal_path(@goal) %> 
		</p>
			
			<p>
				<strong>Description</strong><br />
				<%= @goal.description %>
			</p>
			
			<p>
				<strong>Why</strong><br />
				<%= @goal.why %>
			</p>
			
			<p>
				<strong>Stats</strong><br />
			Start Date <%= @goal.created_at.to_date %><br />
			End Date: <%= @goal.get_expires_date.to_date %><br />
			<%= (Date.today.to_date - @goal.created_at.to_date).to_i %> Days In<br />
			<%= (@goal.get_expires_date.to_date -  Date.today.to_date).to_i %> Days Left<br />
			<%= @goal.updates.size %> Updates <br />
			</p>
							<p style="margin-bottom:0;">
					<strong>Other goals</strong>
				</p>
			<ul>
			<% @goal.related_goals.each do |g| %>
				<li><%= link_to "#{g.name}", g %></li>
			<% end %>
			</ul>
		
		</div>

	</div>
  
</div>

