<p id="notice"><%= notice %></p>

<div class="row" style="margin-top:25px;">
  <div class="small-8 columns">
		<div class="goal-block">
			<div class="goal-header">
				<h2><%= @goal.name %></h2>
					<% if @goal.complete %>
						<span class="round secondary label">Complete</span>
					<% else %>
						<span class="round success label">Active</span>
					<% end %>
					&nbsp;<span class="lighter-text">- <%= @goal.created_at.to_date %></span>
					&nbsp;<span class="lighter-text">- <%= @goal.updates.size %> Updates</span>
			</div>
			<h4>Yo Self! Add an update!</h4>
			<%= form_for([@goal, Update.new]) do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %> 
			<%= f.hidden_field :goal_id, :value => @goal.id %> 
			  <p>
			    <%= f.label :body %>
			    <%= f.text_area :body %>
			  </p>
				<p>
			    <%= f.label :title %>
			    <%= f.text_field :title %>
			  </p>

			    <%= f.submit "Yeeeah, Submit It Dawg!", :class => "button round" %>
			<% end %>
		</div>
			<h4>Your Progress...</h4>
			<% @goal.updates.order("created_at DESC").each do |update| %>
			<div class="goal-block">
			<p>
				<strong><%= update.title %></strong><br />
				<%= update.body %><br />
				<span class="lighter-text"><%= time_ago_in_words(update.created_at) %></span>
			</p>
			</div>
			
			<% end %>
		
		
	</div>
	<div class="small-4 columns">
		
		<div class="sidebar">
		<p>
				<%= link_to 'Edit', edit_goal_path(@goal) %> | <%= link_to 'Destroy', @goal, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
			
			<p>
				<strong>Description</strong><br />
				<%= @goal.description %>
			</p>
			<p>
				<strong>Why</strong><br />
				<%= @goal.why %>
			</p>
			
			<br />
			<br />
				<p style="margin-bottom:0;">
					<strong>Other goals</strong>
				</p>
			<ul>
			<% @goal.related_goals.each do |g| %>
				<li><%= link_to "#{g.name}", g %></li>
			<% end %>
			</ul>
		
		</div>

	</div>
  
</div>

