<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "hilltop" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	
	
	<div class="contain-to-grid">
		<nav class="top-bar" data-topbar>
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="#">Hilltop</a></h1>
		    </li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
		        <% if current_user %>
		        <li><%= link_to "Goals", goals_path %></li>
             <li><%= link_to "Log out #{current_user.email}", logout_path %></li>
           <% else %>
             <li><%= link_to "Sign up", signup_path %></li>
 						 <li><%= link_to "Log in", login_path  %></li>
           <% end %>
		        <!-- <ul class="dropdown">
		          <li><a href="#">First link in dropdown</a></li>
		        </ul> -->
		    </ul>


		  </section>
		</nav>
	</div>

  <%= yield %>

  <div class="footer">
    <p style="text-align:center; padding:50px;font-size:18px;font-style:italic;">I hope that this can pick you off the ground. I know that this can be more than just flashing lights and sound. -Thrice</p>
  </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>